# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
server/.env
client/.env

# Build files
client/build/

# Mac files
.DS_Store

# Logs
*.log
npm-debug.log*